  /* Couleur de fond rouge , hauteur de 15%, marge horizontale auto, marge verticale de 5%  */
div{
	background-color:#ff0000;
	height: 15%;
	margin : auto;
	margin-bottom:5%;
	padding: 10px;
	width:70%;
	border : 2px groove #A84841;
	border-radius: 35px 10px;
	text-align: center;
}
 /* Couleur de fond blanche , taille police 30px  */
div#myId{
	background-color:#FFFFFF;
	font-size:30px;
}

  /* Couleur de fond bleu , taille police 20px , decalage de 50px a gauche  */
div.myClass{
	background-color:#0000FF;
	font-size:20px;
	left:50px
}
